

:root {
	--bg-color: hsl(222, 26%, 31%);
	--text-one-color: hsl(0, 0%, 100%);
	--bg-toggle-container: hsl(223, 31%, 20%);
	--toggle-btn: hsl(6, 63%, 50%);
	--label-color: hsl(224, 36%, 15%);
	--del-reset-shadow-color: hsl(224, 28%, 35%);
	--del-reset-bg-color: hsl(225, 21%, 49%);
	--text-two-color: hsl(221, 14%, 31%);
	--bg-option: hsl(30, 25%, 89%);
	--shadow-option: hsl(28, 16%, 65%);
	--bg-equal-btn: hsl(6, 63%, 50%);
	--shadow-bg-equal-btn: hsl(6, 70%, 34%);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "League Spartan", sans-serif;
  background-color: var(--bg-color);
}

.wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-height: 100%;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
}

.calc {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-one-color);
}
.calc__title {
  margin: 0 0 10px 0px;
}
.calc__theme {
  font-size: 12px;
  grid-column: 3;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 5px;
}
.calc__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.calc__toggle-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-right: 10px;
}
.calc__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: end;
  height: 30px;
  width: 80px;
  background-color: var(--bg-toggle-container);
  margin: 10px 0 25px;
  padding: 2px;
  border-radius: 20px;
}
.calc__button {
  height: 20px;
  width: 20px;
  margin: auto 3px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--toggle-btn);
  border-radius: 50%;
  opacity: 0;
}
.calc__button:hover {
  cursor: pointer;
}
.calc #one {
  opacity: 1;
}
.calc__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 400px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/5;
  background-color: var(--label-color);
  padding: 10px 19px;
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  white-space: nowrap;
  overflow: hidden;
}
.calc__score {
  font-size: 40px;
  overflow: hidden;
}
.calc__options-container {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row: 3/8;
  grid-column: 1/5;
  height: 100%;
  width: 100%;
  gap: 2px 0;
  background-color: var(--bg-toggle-container);
  margin-top: 60px;
  border-radius: 10px;
  padding: 15px 15px;
}
.calc__option {
  width: 80%;
  height: 80%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background: var(--bg-option);
  color: var(--text-two-color);
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
  -webkit-box-shadow: 0px 4px 0px 0px var(--shadow-option);
          box-shadow: 0px 4px 0px 0px var(--shadow-option);
}
.calc__option--del {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--text-one-color);
  background-color: var(--del-reset-bg-color);
  -webkit-box-shadow: 0px 4px 0px 0px var(--del-reset-shadow-color);
          box-shadow: 0px 4px 0px 0px var(--del-reset-shadow-color);
}
.calc__btn {
  height: 80%;
  width: 90%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serif;
}
.calc__reset-btn {
  grid-column: 1/3;
  font-size: 20px;
  color: var(--text-one-color);
  background-color: var(--del-reset-bg-color);
  -webkit-box-shadow: 0px 4px 0px 0px var(--del-reset-shadow-color);
          box-shadow: 0px 4px 0px 0px var(--del-reset-shadow-color);
}
.calc__equal-btn {
  grid-column: 3/5;
  font-size: 20px;
  color: var(--text-one-color);
  background-color: var(--bg-equal-btn);
  -webkit-box-shadow: 0px 4px 0px 0px var(--shadow-bg-equal-btn);
          box-shadow: 0px 4px 0px 0px var(--shadow-bg-equal-btn);
}/*# sourceMappingURL=style.css.map */
